@using Microsoft.AspNetCore.Mvc
@using Microsoft.AspNetCore.Html
@using AtomicSeller.Helpers.Razor.HtmlExtensions
@using System.Globalization
@using System.Threading

@model AtomicSeller.ViewModels.LoginViewModel

@{
    Layout = "~/Views/Partial/_Layout-Login.cshtml";
    ViewBag.Title = new Local().TranslatedMessage("MESNULAuthentication");

    string MesnulUser = new Local().TranslatedMessage("MESNULUser");
    string MesnulPassword = new Local().TranslatedMessage("MESNULPassword");
    string ForgotPassword = new Local().TranslatedMessage("FORGOTPASSWORD");
    string MESNULConnect = new Local().TranslatedMessage("MESNULConnect");
}

@using (Html.BeginForm("Login", "Account", null, FormMethod.Post, true, new { @class = "form-horizontal" }))
{
    <h3>@ViewBag.Title</h3>
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "")


    @Html.TextBoxFor(m => m.Login, new { @class = "form-control", placeholder = MesnulUser })
    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = MesnulPassword })

    <a href="@Url.Action("InputEmailRecoverPassword", "Account")"
       class="btn btn-primary"
       data-toggle="tooltip"
       title="@ForgotPassword">
        <i class="mdi mdi-human"></i>@ForgotPassword
    </a>

    @Html.SubmitWrap(MESNULConnect, SubmitWrapExtension.DefaultIcon, SubmitWrapExtension.Position.PullRight, SubmitWrapExtension.IconPosition.Right)

}
